
<div class="mb-4 text-right">
  <%= link_to 'Back to article lists', articles_path %>
</div>

<div class="pb-2">
  <h5>Update Article</h5>
</div>
<article-form id="<%= @article.id %>"></article-form>